<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>THE WT</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>

    <header>
        <h1><a  href="/">The WT Store</a></h1>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
            </ul>
            <ul class="account-menu">
                <li><a href="/cart">View Cart</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        {{!base}}
    </div>

    <footer>
        <p>Copyright &copy; 2019 COMP249 Web Technology</p>
    </footer>
</body>
</html>