% rebase('base.html')

<h1>Current Shopping Cart contents</h1>
%cost = 0

<div>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        %if products is not None:
        %for product in products:
        %cost += product['cost']
        <tr>
            <td><a href="/product/{{product['id']}}">{{product['name']}}</a></td>
            <td>{{product['quantity']}}</td>
            <td>${{product['cost']}}</td>
        </tr>
        %end
        %end
            <td>Total</td><td></td><td>${{cost}}</td></tr>
        </tr>
    </table>

</div>
