% rebase('base.html')

<div class="productlist">
    %for i in range(len(products)):
    <div class="product">
            <h2><a href="/product/{{i}}">{{products[i]['name']}}</a></h2>
            <div class="image"><img alt={{products[i]['name']}}" image"
                                    src={{products[i]['image_url']}}></div>

            <div class="inventory">{{products[i]['inventory']}} in stock</div>

            <div class="cost">${{products[i]['unit_cost']}}</div>
        </div>
    %end
</div>
