/* Tristan Bongolan 44908938
COMP249 Assignment 1 - CSS Stying
Due Date: 24th March */

html {
  font-family: Trebuchet MS, sans-serif;
  background-image: url(canvas.jpg);
}
header h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 24pt;
  color:white;
  background-color: rgba(167, 0, 144, 0.678);
  margin: auto;
  border-right: 2px solid black ;
  border-left: 2px solid black;
  border-top: 2px solid black;
}

header h1 a {
  text-decoration: none;
}

/* General properties */
header li a:hover {
  transition: 0.5s background-color, border;
  border: 1px solid black;
  border-radius: 2px;
  margin: -1px;
  background-color: rgb(255, 88, 180);
}

header ul {
  padding: 1px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

li a {
 /* characteristics? */
  display: block;
  width: 8em;
  padding: 14px 16px;
  /* text stuff */
  text-align: center;
  color: black;
  text-decoration: none;
}

/* Nav */
nav {
  background-color: plum;
  border-right: 2px solid black ;
  border-left: 2px solid black;
}

nav ul {
  text-align: center;
}

nav li {
  display: inline-block;
}

nav form {
  text-align: center;
  padding: 14px;
}

nav form input {
  text-transform: capitalize;
  border: 1px solid #999;
  border-radius: 5px;
}

nav form button {
  border: 1px solid #999;
  border-radius: 5px;
}
/* /Nav */
/* Promo  */
#promo {
  background-color: plum;
  text-align: center;
  border-right: 2px solid black ;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

#promo ul li{
  display: inline-block;
}
/* /Promo */

/* /header */
/* featured */

.featured{
  display: grid;
  overflow: auto;
  padding: 10px 10px;
  text-align: center;
}

.featured h2 {
  text-align: center;
}

.featured img {
  border: 3px solid black;
  border-radius: 5px;
  width: 50%;
}

.featured .description {
  padding: 10px;
  font-style: italic;
}

.featured .product-detail {
  padding: 10px;
}

.featured .inventory {
  padding: 10px;
  text-transform: uppercase;
}

.featured .cost {
  padding: 10px;
}

#special-offer {
  /* margin: auto */
  font-style: italic;
  text-align: center;
}

/* /featured */
/* productList */
.productlist {
  text-align: center;
}

.product {
  display: inline-block;
  text-align: center;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin: -1px -4px;
  background-color: lightpink;
}

.product_image img{
  border: 3px solid black;
  border-radius: 5px;
  width: 75%;
}


.product h2 a{
  font-style: italic;
  text-decoration: none;
  color: black;
}

.product img {
  width: 400px;
  height: 300px;
  float: left;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0px;
  opacity: 0.9;
}

.product .cart {
  padding: 5px;
}

.product .inventory {
  padding: 5px;
  text-transform: uppercase;
}

.product .cost {
  padding: 5px;
}

/* /product */
/* promotional text */

#promotional-text {
  margin: 2em;
  text-align: justify;
}

#promotional-text p{
  font-family: "Times New Roman", Times, serif;
}

#promotional-text a {
  font-style: italic;
}

footer {
  margin: 2em;
}

footer .social {
  text-align: center;
}

.social h2 {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.social ul {
  margin-top: -20px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-bottom: 1px;
  overflow: hidden;
}

footer li {
  display: inline-block;
}

footer li:hover{
  background-color: lightpink;
  border: 1px solid black;
  border-radius: 5px;
  padding: -1px;
 }